blinker==1.8.2
cachelib==0.13.0
click==8.1.7
flask==3.0.3
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
Flask-OAuthlib==0.9.6
flask-sqlalchemy==3.1.1
greenlet==3.0.3
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
oauthlib==2.1.0
openpyxl==3.1.5
requests==2.30.0
requests-oauthlib==1.1.0
sqlalchemy==2.0.16
typing-extensions==4.11.0
pytz==2024.1
sib-api-v3-sdk==7.6.0
werkzeug==3.0.0
